backend/checpoint/translation/* filter=lfs diff=lfs merge=lfs -text
backend/checkpoint/translation/en_fr_attention/checkpoint filter=lfs diff=lfs merge=lfs -text
backend/checkpoint/translation/en_fr_attention/hparams filter=lfs diff=lfs merge=lfs -text
backend/checkpoint/translation/en_fr_attention/translate.ckpt-88000.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
backend/checkpoint/translation/en_fr_attention/translate.ckpt-88000.index filter=lfs diff=lfs merge=lfs -text
backend/checkpoint/translation/en_fr_attention/translate.ckpt-88000.meta filter=lfs diff=lfs merge=lfs -text
